.title {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.inicial {
    display:grid;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    animation-name: livroTran;
    animation-duration: 0.5s;
}

.menu {
    display: grid;
    justify-items: center;
    top: 50%;
    left: 50%;
    padding: 2%;
    font-size:large;
    margin: 0px;
}

.menu .button {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    background-color: #e5625c;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 15px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px;
    border-radius: 15px;
}

.menu .button:hover{
    background-color: #f9bf76;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 4, 0.2);
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 1%;
    transition: 0.5s;
    border-radius: 10px;
}

.card:hover{
    box-shadow: 0 4px 20px 10px #f9bf76;
}

.livroCard, .livroCardDel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0px 8px 0 #615375c4;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 3%;
    transition: 0.5s;
    border-radius: 10px;
    border-left: 5px solid #d1313d;
    transition: 0.5s;
    animation-name: livroTran;
    animation-duration: 0.5s;
}

.livroCardDel {
    display: grid;
    box-shadow: 0 0px 8px 0 #615375c4;
    background-color: antiquewhite;
    color: black;
    width: 30vw;
    height: 30vh;
    margin: 15px;
}

.livroCard:hover, .livroCardDel:hover{
    transform: translateY(-5px)
}

@keyframes livroTran {
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 100;}
}

.returnB{
    position: absolute;
    top: 5%;
    left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 30px;
    background-color: #f9bf76;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 4, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: 0.8s;
}

.returnB:hover{
    background-color: #e5625c;
    box-shadow: 0 4px 8px 10 rgba(0, 0, 4, 0.2);
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 15px;
    animation-name: livroTran;
    animation-duration: 1s;
}

.pesquisa > p {
    margin-right: 5px;
}

.pesquisa .dropdown:focus-within, .barra:focus{
    box-shadow: 0 0 8px 3px #8eb2c5;
}

.pesquisa .button:hover, .searchId .button:hover, .menuCadastro .button:hover, .menuAtualiza .button:hover{
    background-color: #e5625c;
    color: white;
    box-shadow: 0 0 8px 3px #e5635caf;
}


.pesquisa .dropdown{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #8eb2c56c;
    padding: 2px;
    transition: 0.7s;
}

.pesquisa .barra {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 15px;
    border: none;
    background: #8eb2c53d;
    width: 60vw;
    transition: 0.7s;
}

.pesquisa .button, .searchId .button{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 15px;
    background-color: #f9bf76;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: 0.4s;
}

.searchForm{
    position: relative;
    min-height: 100vh;  
    display: flex;
    justify-content: center;
}

.form{
    position:relative;
    bottom: 0;
    width: 98%;
    height: auto;
    min-height: 92%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 4, 0.2);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    background-color: whitesmoke;
}

.pesquisarID, .menuCadastro, .menuAtualiza, .menuDel {
    display: none;
    transition: 0.8s;
}

.menuLateral{
    box-shadow: 0 4px 8px 5px rgba(0, 0, 4, 0.5);
    position: fixed;
    text-align: center;
    height: 100vh;
    left: 0;
    background-color: #615375;
    color: white;
    padding: 0;
    margin: 0;
    border-top-right-radius: 20px;
    transition: 0.5s;
    z-index: 99;
}

.menuLateral > ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 15px;
}

.menuLateral > ul > a > li {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    border: 0.5px solid #8eb2c5;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.menuLateral > ul > a > li:hover {
    transform: scale(1.05);
    background-color: #8eb2c5;
}

.active{
    border-radius: 10px;
    background-color: #8eb2c5;
}

.menuLateral > ul > a{
    text-decoration: none;
}

.msgFundo {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    color: #8eb2c5;
    left: 25vw;
    top: 43vh;
    cursor:default;
    user-select: none;
    animation-name: livroTran;
    animation-duration: 1s;
}

.waitMsg {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-weight: bold;
    color: #d1313d;
    left: 5vw;
    top: 25vh;
    cursor:default;
    user-select: none;
    animation-name: livroTran;
    animation-duration: 1.5s;
}



.pesquisarID {
    position: relative;
    left: 15vw;
    margin: 15px;
    width: 60vw;
}

.searchId{
    display: flex;
    align-items: stretch;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    margin: 10px;
    animation-name: livroTran;
    animation-duration: 0.5s;
}

.searchId > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    margin-right: 5px;
}

.searchId .barra{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 15px;
    border: none;
    background: #8eb2c53d;
    width: 30vw;
    transition: 0.7s;
}

.menuCadastro {
    position: relative;
    display: grid;
    text-align: center;
    left: 23vw;
    top: 10vh;
    width: 50vw;
    height: 50vh;
    border-left: 20px solid #8eb2c5;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 4, 0.5);
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    animation-name: livroTran;
    animation-duration: 0.5s;
}

.menuAtualiza{
    position: relative;
    display: grid;
    text-align: center;
    left: 23vw;
    top: 5vh;
    width: 50vw;
    height: 65vh;
    border-left: 20px solid #8eb2c5;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 4, 0.5);
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    animation-name: livroTran;
    animation-duration: 0.5s;
}

.menuDel{
    position: relative;
    display: grid;
    text-align: center;
    left: 23vw;
    top: 5vh;
    width: 50vw;
    height: 65vh;
    border-left: 20px solid #d1313d;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 4, 0.5);
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    animation-name: livroTran;
    animation-duration: 0.5s;
}

.menuCadastro .button, .menuAtualiza .button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 4, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    margin: 30px;
    background-color: #f9bf76;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    transition: 0.4s;
}

.menuDel .button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 4, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    margin: 30px;
    color: white;
    background-color: #d1313d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    transition: 0.4s;
}

.menuDel .barra{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background: #8eb2c53d;
    transition: 0.6s;
}

.menuDel .button:hover{
    background-color: #a3131d;
}

.cadastro{
    position: relative;
    display:grid;
    margin: 20px;
    gap: 30px;
    width: auto;
    height: fit-content;
}

.cadastro > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 20px;
}

.cadastro > input, .cadastro > p > input{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background: #8eb2c53d;
    transition: 0.6s;
}

.cadastro > input:focus, .cadastro > p > input:focus, .searchId .barra:focus{
    box-shadow: 0 0 8px 3px #8eb2c5;
    background: #8eb2c573;
}

.cadastro > textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background: #8eb2c53d;
    transition: 0.6s;
}

.cadastro > textarea:focus{
    box-shadow: 0 0 8px 3px #8eb2c5;
    background: #8eb2c573;
}

